
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body  id="imgf">
    <div class="contenedor">    
        <h1 class="texto"> <span class= "tit-nos">Sobre Nosotros</span></h1>
        <h2 class="texto">

            Una empresa lider en el segmento con mas de 20 años de trayectoria, donde logramos mejorar la Calidad de vida
            de nuestros clientes, logramos una mayor competitividad en el mercado incluyendo en nuestras propuestas viajes de placer y negocios.
            Actualmente nos encontramos trabajando en conjunto con grandes empresas en varios paises, brindando el mejor servicio
            de asistencia y asi cumplir cada objetivo planteado por parte de nuestros clientes.
            Buscamos innovar, buscamos la excelencia en cada aspecto.
        </h2>
    </div>
    <div>
        <h2 class="texto">
        
        <br>
        </h2>
    </div>
    <div>
        <h2 class="texto">
        
        <br>
        </h2>
    </div>



    </h2>
    <br>
        
    <a href="{% url 'Index' %}" class="btn-back">Volver</a>
</body>
</html>