<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header></header>
    <div class="main-buscador">
        <h2>¿Cómo podemos ayudarte?</h2>
        <img src="/Imágenes/buscador.png" alt="" style="width: 3.0rem; height: 3.0rem;">
        <input type="search" style="border: 2px solid black; width: 20vw; height: 5vh"/>
        <div class="div-Ayuda" style="text-align: center;">
            <h4>Estado de mi reserva</h4>
            <a href="#reserva">
            <img src="/Imágenes/reserva.png" alt="" style="width: 3.0rem ;">
            </a>
        </div>
        <div class="div-Ayuda" style="text-align: center;">
            <h4>Medios de pago</h4>
            <a href="#tarjetas">
            <img src="/Imágenes/tarjeta-de-debito.png" alt="" style="width: 3.0rem ;">
            </a>
        </div>
        <div class="div-Ayuda" style="text-align: center;">
            <h4>Cambios y devoluciones</h4>
            <a href="#cambios">
            <img src="/Imágenes/cambiar.png" alt="" style="width: 3.0rem ;">
            </a>
        </div>
        <div class="div-Ayuda" style="text-align: center;">
            <h4>Inconvenientes en destino</h4>
            <a href="#pasaporte">
            <img src="/Imágenes/problemas.png" alt="" style="width: 3.0rem ;">
            </a>
        </div>
    </div>
    <main class="main-ayuda">
        <div class="main-container">
            <aside class="main-aside">
                <img src="/Imágenes/avioncitogif.webp" alt="" style="width: 100%; height: 100%;">
            </aside>
            
            <section class="main-section">
            <div class="section-container">
                <div class="div-preguntas">
                    <h3>¿Cómo comprar?</h3>
                    <img src="/Imágenes/carrito.png" alt="" style="width: 3.0rem;">
                </div>
                    <div>
                        <ul>
                            <li>¿Cuáles son los canales de compra?</li>
                            <li>¿Puedo comprar sin crear un usuario?</li>
                            <li>¿Como crear mi usuario?</li>
                            <li>¿Puedo solicitar información adicional antes de realizar una compra?</li>
                        </ul>
                    </div>                
            </div>
            <div class="section-container">
                <div id="tarjetas" class="div-preguntas">
                    <h3>¿Qué medios de pago aceptamos?</h3>
                    <img src="/Imágenes/tarjeta-de-debito.png" alt="" style="width: 3.0rem;">
                </div>
                <div class="logosMediosdePago">
                        <div><img src="/Imágenes/logoVisa.png" alt=""></div>
                        <div><img src="/Imágenes/logoMastercard.png" alt=""></div>
                        <div><img src="/Imágenes/logoMastercardDebit.jpg" alt=""></div>
                        <div><img src="/Imágenes/logoMaestro.png" alt=""></div>
                        <div><img src="/Imágenes/logoAmex.png" alt=""></div>
                        <div><img src="/Imágenes/logoCabal.jpg" alt=""></div>
                        <div><img src="/Imágenes/logoCabalDebito.jpg" alt=""></div>
                        <div><img src="/Imágenes/logoCabalDebito.jpg" alt=""></div>
                        <div><img src="/Imágenes/logoNaranjaX.png" alt=""></div>
                        <div><img src="/Imágenes/logoNativa.png" alt=""></div>
                        <div><img src="/Imágenes/logoArgencard.png" alt=""></div>
                        <div><img src="/Imágenes/logoCencosud.png" alt=""></div>
                        <div><img src="/Imágenes/logoDinners.jpg" alt=""></div>
                        <div><img src="/Imágenes/logoMercadoPago.png" alt=""></div>
                        <div><img src="/Imágenes/logoPayU.png" alt=""></div>
                        <div><img src="/Imágenes/logoPagoMisCuentas.png" alt=""></div>
                </div>
            </div>    
            <div class="section-container">
                <div class="div-preguntas">
                    <h3>¿Promociones bancarias?</h3>
                    <img src="/Imágenes/promociones.png" alt="" style="width: 3.0rem;">
                </div>
                <div class="logosMediosdePago">
                    <div><img src="/Imágenes/logoAhora3.png" alt=""></div>
                    <div><img src="/Imágenes/logoAhora6.png" alt=""></div>
                    <div><img src="/Imágenes/logoAhora12.png" alt=""></div>
                    <div><img src="/Imágenes/logoAhora18.png" alt=""></div>
                </div>               
            </div>
            <div class="section-container">
                <div id="cambios" class="div-preguntas">
                    <h3>¿Cómo solicitar un cambio?</h3>
                    <img src="/Imágenes/cambiar.png" alt="" style="width: 3.0rem;">
                </div>
                    <div class="div-respuestas">
                        <ul>
                            <li>Quiero hacer cambios en mi reserva</li>
                            <li>¿Cómo cambio los datos de mi reserva?</li>
                            <li>¿Cómo cancelo mi reserva?</li>
                            <li>¿Puedo transferirle mi pasaje a otra persona?</li>
                            <li>Hubo un cambio en mi vuelo (reprogramación)</li>
                            <li>¿Qué pasa si luego de la compra necesito modificarla o cancelarla?</li>
                            <li>¿Puedo dejar algún tramo de mi vuelo sin usar?</li>
                        </ul>
                    </div>                
            </div>
            <div class="section-container">
                <div class="div-preguntas">
                    <h3>¿Como solicitar un reintegro?</h3>
                    <img src="/Imágenes/devolucion-de-dinero.png" alt="" style="width: 3.0rem;">
                </div>
                    <div class="div-respuestas">
                        <ul>¿Como solicitar un reintegro?
                            <li>¿Cuándo me acreditan el pago de una devolución?</li>
                            <li>¿Cómo cancelo mi vuelo?</li>
                            <li>¿Cómo cancelo mi paquete?</li>
                            <li>¿Cómo cancelo mi hotel?</li>
                        </ul>    
                    </div>                
            </div>
            <div class="section-container">
                <div id="reserva" class="div-preguntas">
                    <h3>¿Estado de mi reserva?</h3>
                    <img src="/Imágenes/reserva.png" alt="" style="width: 3.0rem;">
                </div>
                    <div class="div-respuestas">
                        <ul>
                            <li>¿Cuál es el estado de mi reserva?</li>
                            <li>No puedo ver mis reservas</li>
                            <li>¿Cómo puedo gestionar mi reserva?</li>
                            <li>No tengo cuenta y quiero saber el estado de mi reserva</li>
                            <li>Quiero descargar mi ticket electrónico</li>
                        </ul>
                    </div>                
            </div>
            <div class="section-container">
                <div class="div-preguntas">
                    <h3 id="pasaporte">Inconvenientes en destino</h3>
                    <img src="/Imágenes/problemas.png" alt="" style="width: 3.0rem;">
                </div>
                    <div class="div-respuestas">
                        <ul>
                            <li>Estoy en destino y tengo un inconveniente</li>
                            <li>Viajé y no recibí el pedido especial que hice</li>
                            <li>No me dieron el servicio que compré</li>
                        </ul>    
                    </div>                
            </div>
            <div class="section-container">
                <div class="div-preguntas">
                    <h3>Información útil para tu viaje</h3>
                    <img src="/Imágenes/expediente.png" alt="" style="width: 3.0rem;">
                </div>
                    <div class="div-respuestas">
                        <ul>
                            <li>¿Puedo sumarle pedidos especiales a mi reserva?</li>
                            <li>¿Debo presentar mi identificación en el Hotel?</li>
                            <li>¿Dónde encuentro mi traslado?</li>
                            <li>¿Cómo hago para usar mi traslado?</li>
                        </ul>

                    </div> 
                                
            </div>
            
            </section>
        </div>
    </main>
    <footer></footer>
</body>
</html>